<title>Welcome Home</title>
<h1>Welcome Home</h1>
<table>
  {% for machine in machines %}
  <tr>
    <td>{{machine.ip}}</td>
    <td>{{machine.mac}}</td>
    <td>{{machine.vendor}}</td>
    <td>{{machine.hostname}}</td>
  </tr>
  {% endfor %}
</table>  

<a href='/captures/{{datestamp}}/network.html'>network summary</a>

<center>
<img src='/captures/{{datestamp}}/video1.jpeg'/>
<img src='/captures/{{datestamp}}/video0.jpeg'/>
</center>

{% for ds in listed_datestamps %}
<a href="?datestamp={{ds}}">{{ds}}</a>
{% endfor %}

<div class="footer">
  <a href="https://garage:8443/">unifi controller</a>
  <a href="http://garage:9001/">supervisord</a>
</div>
